#offcanvasScrolling {
    background-color: grey;
}

.poster-carrito{
    width: '50px'; 
    height: '75px';
    object-fit: 'cover';
    border-radius: '4px';
}

.btn-eliminar{
    color: white !important;
}